.playerCardList {
  display: flex;
<<<<<<< HEAD
  flex-direction: column;
  background-color: #3d3d3d;
  height: 100%;
=======
>>>>>>> d5d5da2d168ed0d53a9306936453d6355358169e
  border: 5px solid;
  border-radius: 15px;
  border-color: white;
  padding: 10px;
  margin: 10px;
  background-image: url("https://img.freepik.com/premium-photo/beige-dirty-empty-old-paper-background-paper-texture_255485-443.jpg?w=2000");

  .backGroundColorandSize {
    color: black;
    background-color: white;
    height: 20%;
  }
}
